.parent {
    position : relative;
}

.centerMe{
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%); 
}

.centerHorizontal{
    display: flex;
    justify-self: center;
}




/*TYPOGRAPHY*/
#fileManagement {
    letter-spacing: 0.02em;
    font-size: 3em;
    color: #adadad;
    text-transform: uppercase;
    margin-bottom: 6em;
}


  
